#acordeon.ui-accordion {
	float: left;
	width: 50%;
	border: 0px solid red;
}

#CadenaSQL {
    float: right;
	width: 45%;
	border: 2px solid green;
	padding: 5px;
	margin-right: -5px;
	text-align: center;
}

#FiltrodeDatos {
	overflow: hidden;
}

#Datos {
	text-align: center;
}

#MostrarDatos {
	overflow: hidden;
	border: 0px solid orange;
	margin: 4px auto;
	text-align: center;
}

/* Estilo de la tabla de los datos */

.tablaDATOS { /* tabla en la que aparecen los datos */
  width: auto;
  max-width: 90%;
  margin: 2px auto;
}

.tablaDATOS td {
  text-align: justify;
  padding: 2px 15px;
  border: 0px solid black;
  font-size: 1em;
}

.tablaDATOS td.TDnombreAlumno {
  width: 88%;
  font-size: 1.1em;
  font-weight: bold;
  /* vertical-align: text-bottom; */
  color: rgb(39, 41, 0);
  /* background-color: rgb(231, 212, 195); */
  text-shadow: rgb(185, 170, 156) 7px 6px 2px;
}

.tablaDATOS td.TDimagen {
  width: 10%;
  text-align: center;
}

.tablaDATOS td.TDimagen img {
  margin: 0px auto;
  width: 85%;
  height: auto;
}


/* CSS de los divs de Fechas */

#Fechas {
	text-align: center;
}

#cualquierFecha {
 border: 0px solid black;
 width: 50%;
 margin: 5px auto;
 vertical-align: middle;
}

#fechaInicio {
 border: 0px solid black;
 width: 49%;
 float: left;
 display: inline-block;
  vertical-align: middle;
   margin: 5px auto;
}

#fechaFinal {
 border: 0px solid black;
 width: 49%;
 display: inline-block;
  vertical-align: middle;
   margin: 5px auto;
}

#primerTrimestre {
 width: 32%;
 border: 0px solid black;
 display: inline-block;
  vertical-align: middle;
   margin: 2px auto;
}

#segundoTrimestre {
 width: 32%;
 border: 0px solid black;
 display: inline-block;
  vertical-align: middle;
   margin: 2px auto;
}

#tercerTrimestre {
 width: 32%;
 border: 0px solid black;
 display: inline-block;
  vertical-align: middle;
   margin: 2px auto;
}

#quincedias {
 border: 0px solid black;
  width: 32%;
  display: inline-block;
   vertical-align: middle;
    margin: 2px auto;
}

#haceunmes {
 border: 0px solid black;
  display: inline-block;
   width: 32%;
    vertical-align: middle;
     margin: 2px auto;
}

#hacedosmeses {
 border: 0px solid black;
  display: inline-block;
   width: 32%;
    vertical-align: middle;
}

/* Campos de fechas */
#fechaINI, #muestrafechaINI, #fechaFIN, #muestrafechaFIN { /* estilo de la caja de fechas */
	font-size: 0.8em;
	width: 140px;
}

/* Botón de mostrar los datos */
#go {
  margin: 10px auto;
}

/* Estilo de las opciones */

/* Lista Ordenable */
  #ordenable { list-style-type: none; margin: 0; padding: 0; width: 90%; }
  #ordenable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; height: 45px; }
  #ordenable li span { position: relative; margin-left: -1.3em; top: 20px; }
 
