/* Estilo Cajas */

/* DIV del curso y alumnos */

/* divalumno2: cajas para el listado de los alumnos */

.divcurso , .divalumno, .divalumno2 {
   border: 3px solid black;
   background: #82a3c3;
   text-align: center;
   padding: 0px 0px;   
   position: relative;
   display: inline-block;
   /* float: left; */
   /* color: #214c75; */
   color: darkblue;
   width: 90px; /* caben de 3 en 3 */ /* original  110px */
   font-size: 0.8em;
   margin: 5px 5px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px darkgrey;
}

.divalumno {
  width: 137px; /* caben de 3 en 3 */ /* original  147px */
  background: #b7cde2;
  margin: 3px 3px;
}

.divcurso:hover,
.divalumno:hover 
{
   background: #CDB9E4;
   color: #4C237A;
}

.divcurso p, 
.divalumno p
{
  font-size: 1em;
  font-weight: bold;
  padding: 1px 1px;
  margin: 0px 0px;
    word-wrap: break-word; /* permite romper palabras largas */
}

.divalumno p {
  font-size: 0.8em;
}


.divalumno img {
  width: 50px;
  height: auto;
}

.divalumno table {
 width:80%;
 margin: 0 auto;
 border: 0px solid black;
}

/* =========================================== */
/* DIV listado de alumnos. Basado en divalumno */
/* =========================================== */

.divalumno2 {
   min-width: 300px;
   width: 300px;
   height: 150px; /* Hay que establecer alto y ancho */
   border: 0px solid #013034;
   margin: 10px 10px;
   background: transparent; 
   background-image: url(../imagenes/iconos/pupitre.png);
     background-size: 300px auto; 
   background-repeat: no-repeat; background-position: center center; opacity: 1;
   /* box-shadow: 8px 8px 5px #84C68C; */
   position: relative; /* Para centrar los children*/ /* http://vanseodesign.com/css/vertical-centering/ */
}

.divalumno2:hover {
  /* background: #9DC1C4; */
  background-image: url(../imagenes/iconos/pupitreHover.png);
    background-size: 300px auto; 
  background-repeat: no-repeat; background-position: center center; opacity: 1;
  border: 0px solid #246268;
   /* box-shadow: 8px 8px 5px #9DC1C4; */
}

.divalumno2 #image {
    width: 40%;
    border: 0px solid black;     
    position: absolute;  /* Para centrar el elemento dentro del parent */
	float: left;
    top: 50%;
    left: 25%;
    height: 95%;
    width: 40%;
    margin: -12% 0 0 -25%;
    line-height: 100px; /* Para centrar la fotografía interior */

}

.divalumno2 #image img {
    width: 80px;
    height: auto;
    max-height: 100px;
    border: 0px solid #9DC1C4;
     /* box-shadow: 2px 2px 2px #246268; */
    vertical-align: middle;
}

.divalumno2 #texto {
    width: 58%;
    border: 0px solid black;
	float: right;
    position: absolute;  /* Para centrar el elemento dentro del parent */
    top: 50%;
    left: 25%;
    height: 95%;
    width: 60%;
    margin: -20% 0 0 12%;
}

.divalumno2 #texto p {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
    word-wrap: break-word; /* permite romper palabras largas */
}

.divalumno2:hover #texto p { /* Cambia color del texto CUANDo se pasa sobre él. */
  color: #FEFBF6;
}

/* ============================ */
/* DIV de la caja de Asignacion */
/* ============================ */

.divasignacion {
   border: 3px solid black;
   background: #82a3c3;
   text-align: center;
   padding: auto 2px;   
   position: relative;
   display: inline-block; 
   color: darkblue;
   width: 95%;
   font-size: 0.9em;
   margin: 15px 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}

.divasignacionprofesor, .divasignacionmateria, 
.divasignacioncursos, .divasignacionbotones, 
.divasignaciontutor {
  width: auto;
  max-width: 23%;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 10px;
  padding: 2px 5px;
  border: 0px solid green;
  float: left;
  background: #b7cde2;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}

.divasignacioncursos {
    max-width: 15%;
}

.divasignaciontutor {
    float: left;
    max-width: 10%;
}

.divasignacionbotones {
    float: right;
    max-width: 40%;
    padding: 10px 10px;
}

.divasignacionbotones img , .divasignaciontutor img {
  width: 50px;
  height: auto;
  margin: 10px 10px;
}

/* ============================ */
/* DIV ITEMS EVALUATIVOS        */
/* ============================ */

.divitem {
   border: 3px solid black;
   text-align: center;
   padding: 5px 5px;   
   position: relative;
   display: inline-block; 
   /* float: left;  */
   color: darkblue;
   font-size: 0.9em;
        border-radius: 10px;
        box-shadow: 2px 2px 2px darkgrey;
   width: 250px;
   height: auto;
   background: #b7cde2;    
   margin: 8px 8px; 
}

.divitem:hover {
   background: #CDB9E4;
   color: #4C237A;
}

.divitem p {
  font-size: 0.8em;
  font-weight: bold;
  padding: 1px 1px;
  margin: 1px 1px;
  text-align: center;
  /* word-wrap: break-word; /* permite romper palabras largas */
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; /* Se mantiene en una línea; tiene que ir acompañado de height y width auto en lo de antes */
}

.positivo, .positivo:hover {
  background: #C8F6F6; /* verde pastel */
}

.positivo p , .positivo p:hover {
  color: Darkgreen;}


.negativo, .negativo:hover {
  background: #FCE0E0; /* rojito pastel */
}
.negativo p , .negativo p:hover{
  color: Darkred;
}


/* ============================ */
/* DIV para email       */
/* ============================ */

.divasignacionEmail {
  width: auto;
  max-width: 45%;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 10px;
  padding: 10px 15px;
  border: 0px solid green;
  float: left;
  /* background: #b7cde2; */
  background: #FBEDBA;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}

.divasignacionEmailSeleccionada {
    /* background: lightGreen; */
    background: #91FFB2;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}


