#EligeAlumno, #EligeCurso, #Correspondencia {
    background: url("../imagenes/patterns/science-background.png") repeat; 
	overflow: hidden;
}

#alumnos, #muestraAlumno, #cursos, #muestraCurso {
	float: left;
	width: 45%;
	border: 0px solid black;
	padding: 20px auto;
	text-align: justify;
}

#muestraAlumno, #muestraCurso {
	float: right;
	width: 45%;
	margin: 2px auto;
}

#muestraAlumno p, #muestraCurso p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	/* vertical-align: text-bottom; */
	color: rgb(41, 39, 0);
	/* background-color: rgb(231, 212, 195); */
	text-shadow: rgb(185, 170, 156) 7px 6px 2px;
}

#alumnos h2, #cursos h2 {
	text-align: center;
	font-size: 1em;
	/* font-weight: bold; */
	/* vertical-align: text-bottom; */
	color: rgb(41, 39, 0);
	/* background-color: rgb(231, 212, 195); */
	text-shadow: rgb(185, 170, 156) 2px 1px 1px;
}

#cursos h2 {
  text-align: left;
}

#asignacionesAntiguas, #asignacionesNuevas {
	float: left;
	width: 59%;
	border: 0px solid black;
	padding: 1px auto;
}

#asignacionesNuevas {
   width: 39%;
   float: right;
}

/* ============================ */
/* DIV para Cambio de clase     */
/* ============================ */

.bloque, .bloque2 {
	width: 100%;
	float: left;
	border: 2px solid red;
	text-align: center;
	padding: 2px;	
	clear: both;
	position: relative;
}

.divasignacionCambio, .divasignacionCambio2 {
  width: 45%;
  max-width: 45%;
  height: auto;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 10px;
  padding: 2px 2px;
  border: 0px solid green;
  float: left;
  text-align: center;
  /* background: #b7cde2; */
  background: #BAE9FB;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}

.divasignacionCambio2 {
	background: red;
	width: 50%;
	display: inline;
	
}


.destino {
	width: 45%;
	max-width: 45%;
	height: auto;
	margin: 10px 10px;
    padding: 2px 2px;
	float: right;
	/* border: 4px dotted black; */
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 4px;
	/* background: #BAE9FB; */
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
}
