#EligeAlumno {
    background: url("../imagenes/patterns/science-background.png") repeat; 
	overflow: hidden;
}

#alumnos, #muestraAlumno {
	float: left;
	width: 45%;
	border: 0px solid black;
	padding: 20px auto;
	text-align: justify;
}

#muestraAlumno {
	float: right;
	width: 45%;
	margin: 2px auto;
}

#muestraAlumno p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	/* vertical-align: text-bottom; */
	color: rgb(41, 39, 0);
	/* background-color: rgb(231, 212, 195); */
	text-shadow: rgb(185, 170, 156) 7px 6px 2px;
}

#alumnos h2 {
	text-align: center;
	font-size: 1em;
	/* font-weight: bold; */
	/* vertical-align: text-bottom; */
	color: rgb(41, 39, 0);
	/* background-color: rgb(231, 212, 195); */
	text-shadow: rgb(185, 170, 156) 2px 1px 1px;
}
